.mainchat
  .mainchat__top
    .mainchat__top--leftbox
      .mainchat__top--leftbox--name
        = @group.name
      .mainchat__top--leftbox--member
        Member: 
        - @group.users.each do |u|
          = u.name

    .mainchat__top--rightbox
      = link_to edit_group_path(@group), class: "mainchat__top--rightbox--edit" do 
        .mainchat__top--rightbox--edit--box
          Edit
  .mainchat__mid
    .mainchat__mid--msgbox
      = render @messages
  .mainchat__bot
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |form|
      .textarea
        = form.text_area :text, placeholder: "type a message", class: "text"
        %label{class: "image"}
          = icon('fas', 'image')
          = form.file_field :image, class: 'hidden'
      = form.submit "Send", class: "send"