.mainchat
  .mainchat__top
    .mainchat__top--leftbox
      .mainchat__top--leftbox--name
        = @group.name
      .mainchat__top--leftbox--member
        Member: 
        - @group.users.each do |u|
          = u.name

    .mainchat__top--rightbox
      = link_to edit_group_path(@group), class: "mainchat__top--rightbox--edit" do 
        .mainchat__top--rightbox--edit--box
          Edit
  .mainchat__mid
    .mainchat__mid--msgbox
      = render @messages
  .mainchat__bot
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .textarea
        = f.text_field :text, class: 'text', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send'
