.sidebar
  .sidebar__top
    .sidebar__top--userbox
      .sidebar__top--userbox--name
        = current_user.name
      .sidebar__top--userbox--btns
        = link_to new_group_path, class: "sidebar__top--userbox--btns--btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "sidebar__top--userbox--btns--btn" do
          = icon('fas', 'cog')
  .sidebar__bot
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group__link" do
          .group__link__name
            = group.name
          .group__link__message
            = group.show_last_message

        